<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Booktive!</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink='/users'>Users</a></li>
        <li routerLinkActive="active"><a routerLink='/books'>Books</a></li>
      </ul>
    </div>
  </div>
</nav>
