<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">{{book?.title}} details!</div>
      <div class="panel-body">
        <div class="form-inline">
          <label>Title: </label>
          <input [(ngModel)]="book && book.title" placeholder="Title" class="form-control" />
        </div>
        <div class="form-inline">
          <label>Author: </label>
          <input [(ngModel)]="book && book.author" placeholder="Author" class="form-control" />
          <div class="form-inline">
            <label>Identification Number: </label>
            <input [(ngModel)]="book && book.identificationNumber" placeholder="Identification Number" class="form-control" />
          </div>
          <button class="btn btn-success" (click)="update()">Update</button>
          <button class="btn btn-primary" (click)="goBack()">Back</button>
        </div>
      </div>
    </div>
  </div>
