<div class="row form-inline">
  <div class="col-md-12">
    <label>Login: </label><input [(ngModel)]="login" class="form-control" />
    <label>Name: </label><input [(ngModel)]="name" class="form-control" />
    <button (click)="add()" class="btn btn-primary">Add</button>
  </div>
</div>
